
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    width: 70%;
}

.label {
    align-self: self-start;
    transform: translate(10px, -2.5rem);
    cursor:text;
    transition: all 0.3s;
    opacity: 0;
    transition: all .2s;
}

input {
    padding: 10px;
    height: 2rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 1.5px solid black;
}

input:focus + .label{
    transform: translate(10px, -4rem);
    opacity: 9;
}

input::placeholder {
    transition: all 0.2s;
}

input:focus::placeholder {
    transform: translateY(-4rem);
    opacity: 0;
}