body {
    width: 100dvw;
    height: 100dvh;
}

.form-container {
    width: 80%;
    height: 80%;
    margin: 3rem auto;
    border: 1px solid black;
    text-align: center;
}

button {
    all: unset;
    color: #fff;
    background-color: #333;
    height: 2rem;
    border-radius: 5px;
}